<div class="profile_section"> 
<% if !current_user.profile.picture_file_name.nil? %>
  <% user_picturepath = current_user.profile.picture.url(:thumb) %>
<% elsif !current_user.social_profile[:photo].blank? %>
  <% user_picturepath = current_user.social_profile[:photo] %>
<% else %>
  <% user_picturepath = "/images/generic_profile.jpg" %>
<% end %>
<img src="<%= user_picturepath %>" alt="Profile User Thumbnail" style="margin-bottom: 10px;" />
  <br />
	<h2><%= current_user.f_name %>&nbsp;<%= current_user.l_name %></h2>
	<small><%= current_user.profile.address1  %></small> 

	<%= link_to "Edit Profile", edit_user_path(current_user),{:title=>"Edit Profile",:class=>"editProfile"} %>
	<%= link_to "Sign Out","/logout",{:class=>"editProfile"} %>

	<ul class="left_navigation">
		<li>
			<%= link_to "Home", user_home_path,{:title=>"Home",:class=>request.fullpath.include?("home") ? "activeLeft" : "normal"} %>
		</li>
		<li>
			<%= link_to "ShareMe's", contacts_path,{:title=>"ShareMe's",:class=>request.fullpath.eql?("/contacts") ? "activeLeft" : "normal"} %>
      <% if request.fullpath.include?("contacts") %>
        <ul class="left_navigation_sub">
          <li>
			      <%= link_to "Add a ShareMe", new_contact_path,{:title=>"Add a ShareMe",:class=>request.fullpath.eql?("/contacts/new") ? "activeLeft" : "normal"} %>
          </li>
          <li>
			      <%= link_to "Import Contacts", import_contacts_path,{:title=>"Imprt Contacts",:class=>request.fullpath.eql?("/import_contacts") ? "activeLeft" : "normal"} %>
          </li>
        </ul>
      <% end %>
    </li>
		<li>
				<%= link_to "Groups", groups_path,{:title=>"Groups",:class=>request.fullpath.eql?("/groups") ? "activeLeft" : "normal"} %>
		</li>
		<li>
      <%= link_to "Social Streams", socialify_path ,{:title=>"Socialify",:class=>request.fullpath.eql?("/socialify") ? "activeLeft" : "normal"} %>
    </li>
	</ul>

</div>
