<div class="profile_featured_section_full">
<%= form_for @user,:html=> {:multipart => true} do |u| %>
	<h2><span>YOUR </span>CONTACT INFORMATION</h2>
	<table width="600" border="0" id="userInfoTblEdit" class="profile-table">
		<tr>
			<td width="200"><strong>ShareMe Code</strong></td>
			<td><%= @user.code %></td>
		</tr>
		<tr>
			<td width="200"><label>First Name</label></td>
      <td><%= u.text_field :f_name,:class=>"textField" %></td>
      </tr>
		<tr>
			<td width="200"><label>Last Name</label></td>
			<td><%= u.text_field :l_name,:class=>"textField" %></td>
		</tr>
		<tr>
			<td width="200"><label>Email </label></td>
			<td><%= u.text_field :email,:class=>"textField" %></td>
		</tr>
    <%= u.fields_for :profile do |p| %>
      <tr>
        <td width="200"><label>Company Name</label></td>
        <td><%= p.text_field :company_name,:class=>"textField" %></td>
      </tr>
      <tr>
        <td width="200"><label>Company Address</label></td>
        <td><%= p.text_field :company_address,:class=>"textField" %></td>
      </tr>
      <tr>
        <td width="200">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="200"><label>Phone Number </label></td>
        <td><%= p.text_field :phone,:class=>"textField" %></td>
      </tr>
      <tr>
        <td width="200"> <label>Fax</label></td>
        <td><%= p.text_field :fax,:class=>"textField" %></td>
      </tr>
      <tr>
        <td width="200"> <label>Profile Picture</label></td>
        <td><%= p.file_field :picture,:class=>"textField" %></td>
      </tr>
    <% end %>
	</table>
  <p><%= u.submit "Update",:class=>"blackInputBtn" %></p>
<% end %>
	<%= link_to "Sign Out","/logout",{:class=>"moreBtnPlain"} %>
</div>

