<% content_for :top_js do %>
  <script type="text/javascript">
    
    $(document).ready(function() {
        $('#connect_with_facebook').click(function() {
          var left = (screen.width/2)-(600/2);
          var top = (screen.height/2)-(300/2);
          var w = window.open(this.href, 'Link Your Facebook Account', config='top='+top+', left='+left+',height=500, width=600, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, directories=no, status=no');
          return false;
         });
        $('#connect_with_twitter').click(function() {
          var left = (screen.width/2)-(600/2);
          var top = (screen.height/2)-(300/2);
          var w = window.open(this.href, 'Link Your Twitter Account', config='top='+top+', left='+left+',height=500, width=600, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, directories=no, status=no');
          return false;
         });
        $('#connect_with_linked_in').click(function() {
          var left = (screen.width/2)-(600/2);
          var top = (screen.height/2)-(300/2);
          var w = window.open(this.href, 'Link Your Linked In Account', config='top='+top+', left='+left+',height=500, width=600, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, directories=no, status=no');
          return false;
         });
        <% unless flash.blank? %>
          var title = "";
          var text = "";
          var icon = "";
          <% if !flash[:notice] .blank? %>
            title = "Warning!";
            text = "<%= flash[:notice].to_s %>";
            icon = "warning";
          <% elsif !flash[:success].blank? %>
            title = "Success!";
            text = "<%= flash[:success].to_s %>";
            icon = "success";
          <% elsif !flash[:error].blank? %>
            title = "Error!";
            text = "<%= flash[:error].to_s %>";
            icon = "error";
          <% end %>
          $("#notif_container").notify("create", {
              title: title,
              text: text,
              icon: icon
             },
             {
              click: function(e,instance){
              instance.close();
             }
           });
        <% end %>
     });
  </script>
<% end %>
<div class="profile_featured_section">
	<h2><span>YOUR </span>CONTACT INFORMATION</h2>
	<table width="600" border="0" id="userInfoTbl">
		<tr>
			<td width="200"><strong>ShareMe Code</strong></td>
			<td><strong style="font-size: 20px;line-height: 20px;"><%= current_user.code %></strong></td>
		</tr>
		<tr>
			<td width="200"><strong>First Name</strong></td>
			<%= puts current_user.inspect %>
			<td><%# current_user.f_name.blank? ? current_user.social_profile[:first_name] : current_user.f_name %></td>
		</tr>
		<tr>
			<td width="200"><strong>Last Name</strong></td>
			<td><%= current_user.l_name.blank? ? current_user.social_profile[:last_name] : current_user.l_name   %></td>
		</tr>
		<tr>
			<td width="200"><strong>Company Name</strong></td>
			<td><%= (current_user.profile.blank? || current_user.profile.company_name.blank?)? current_user.social_profile[:company_name] : current_user.profile.company_name %></td>
		</tr>
		<tr>
			<td width="200"><strong>Company Address</strong></td>
			<td><%= (current_user.profile.blank? || current_user.profile.company_address.blank?)? ""  : current_user.profile.company_address %></td>
		</tr>
		<tr>
			<td width="200">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td width="200"><strong>Email </strong></td>
			<td><%= current_user.email.blank? ? current_user.social_profile[:email] : current_user.email %></td>
		</tr>
		<tr>
			<td width="200"><strong>Phone Number </strong></td>
			<td><%= (current_user.profile.blank? || current_user.profile.phone.blank?)? current_user.phone  : current_user.profile.phone %></td>
		</tr>
		<tr>
			<td width="200"> <strong>Fax</strong></td>
			<td><%= (current_user.profile.blank? || current_user.profile.fax.blank?)? ""  : current_user.profile.fax %></td>
		</tr>
	</table> 
	<%= link_to "Sign Out","/logout",{:class=>"moreBtnPlain"} %>
</div>

<!--Profile Section ends here--> 





<!--Facebook APIs Widget Section starts here--> 
<div class="social_APIs_widgets">
  <h2>YOUR <span>Facebook Feed</span></h2>

    <% unless current_user.facebook %>
      <div class="APIs_contents">
        <p>You are currently not connected to Facebook.</p>
      </div>
    <% else %>
      <%= render :partial => "facebook_feed" %>
    <% end %>

  <% unless current_user.facebook %>
    <%= link_to "",user_omniauth_authorize_path(:facebook),:id=>"connect_with_facebook",:class=>"connect_with_facebook_btn",:title=>"facebook" %>
  <% end %>
</div>
<!--Facebook APIs Widget Section ends here--> 


<!--Twitter APIs Widget Section starts here--> 
<div class="social_APIs_widgets">
  <h2>YOUR <span>Twitter Tweets</span></h2>
    <% unless current_user.twitter %>
      <div class="APIs_contents">
        <p>You are currently not connected to Twitter.</p>
      </div>
    <% else %>
      <%= render :partial => "twitter_tweet" %>
    <% end %>

  <% unless current_user.twitter %>
    <%= link_to "",user_omniauth_authorize_path(:twitter),:id=>"connect_with_twitter",:class=>"connect_with_twitter_btn",:title=>"twitter" %>
  <% end %>
</div>
<!--Facebook APIs Widget Section ends here--> 

<!--Linkedin APIs Widget Section starts here--> 
<div class="social_APIs_widgets">
  <h2>YOUR <span>LinkedIn Social Stream</span></h2>
    <% unless current_user.linked_in %>
      <div class="APIs_contents">
        <p>You are currently not connected to Twitter.</p>
      </div>
    <% else %>
      <%= render :partial => "linked_in_social_stream" %>
    <% end %>

  <% unless current_user.linked_in %>
    <%= link_to "",user_omniauth_authorize_path(:linked_in),:id=>"connect_with_linked_in",:class=>"connect_with_linkedin_btn",:title=>"linkedin" %>
  <% end %>


</div>

<!--Linkedin APIs Widget Section ends here--> 
