
<% content_for :top_js do %>
  <script type="text/javascript">
    
		function social_connect(id) {
			$('#oauth_provider_'+id).attr('checked','checked');
			$('#oauth_form').submit();
		}
  </script>
<% end %>
<% unless flash.blank? %>
  <div class="profile_featured_section">
    <p><%= flash[:error] || flash[:notice] %></p>
  </div>
<% end %>
<div class="profile_featured_section">
	<h2><span>YOUR </span>CONTACT INFORMATION</h2>
	<table width="600" border="0" id="userInfoTbl">
		<tr>
			<td width="200"><strong>ShareMe Code</strong></td>
			<td><%= current_user.code %></td>
		</tr>
		<tr>
			<td width="200"><strong>First Name</strong></td>
			<td><%= current_user.f_name.blank? ? current_user.social_profile[:first_name] : current_user.f_name %></td>
		</tr>
		<tr>
			<td width="200"><strong>Last Name</strong></td>
			<td><%= current_user.l_name.blank? ? current_user.social_profile[:last_name] : current_user.l_name   %></td>
		</tr>
		<tr>
			<td width="200"><strong>Company Name</strong></td>
			<td><%= (current_user.profile.blank? || current_user.profile.company_name.blank?)? current_user.social_profile[:company_name] : current_user.profile.company_name %></td>
		</tr>
		<tr>
			<td width="200"><strong>Company Address</strong></td>
			<td><%= (current_user.profile.blank? || current_user.profile.company_address.blank?)? ""  : current_user.profile.company_address %></td>
		</tr>
		<tr>
			<td width="200">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td width="200"><strong>Email </strong></td>
			<td><%= current_user.email.blank? ? current_user.social_profile[:email] : current_user.email %></td>
		</tr>
		<tr>
			<td width="200"><strong>Phone Number </strong></td>
			<td><%= (current_user.profile.blank? || current_user.profile.phone.blank?)? ""  : current_user.profile.phone %></td>
		</tr>
		<tr>
			<td width="200"> <strong>Fax</strong></td>
			<td><%= (current_user.profile.blank? || current_user.profile.fax.blank?)? ""  : current_user.profile.fax %></td>
		</tr>
	</table> 
	<%= link_to "Sign Out","/logout",{:class=>"moreBtnPlain"} %>
</div>

<!--Profile Section ends here--> 





<!--Facebook APIs Widget Section starts here--> 



<div class="social_APIs_widgets">

<h2>YOUR <span>Facebook Feed</span></h2>

<div class="APIs_contents">
<% unless current_user.facebook %>
<p>You are currently not connected to Facebook.</p>
<% else %>
<% current_user.fb_status_feed.each do |fb_status| %>
	<p class="fb_status"><%= fb_status["message"] %> --- <%= (fb_status["likes"].blank? ? 0 : fb_status["likes"]["data"].length )%> people like this.</p>
<% end %>
<% end %>
</div>

<% unless current_user.facebook %>
  <a href="#" class="connect_with_facebook_btn"></a></td>
<% end %>



</div>

<!--Facebook APIs Widget Section ends here--> 



<!--Twitter APIs Widget Section starts here--> 



<div class="social_APIs_widgets">

<h2>YOUR <span>Twitter Tweets</span></h2>

<div class="APIs_contents">

<% unless current_user.twitter %>
  <p>You are currently not connected to twitter.</p>
<% else %>
  <% current_user.tweets.each do |tweet| %>
    <p class="fb_status"><%= tweet["text"] %> </p>
  <% end %>
<% end %>

</div>
<% unless current_user.twitter %>
  <%= form_tag authenticate_path, {:id=> "oauth_form", :method => :post } do |uf| %>
    <%= hidden_field_tag "authentication_type","user" %>
    <input type="radio" value="twitter" name="oauth_provider" id="oauth_provider_twitter" style="display: none;">
    <input type="text" value="<%= current_user.email %>" name="user[email]" style="display: none;">
  <% end %>
  <a href="#" class="connect_with_twitter_btn" onclick="javascript:social_connect('twitter');return false;"></a></td>
<% end %>


</div>

<!--Twitter APIs Widget Section ends here--> 





<!--Linkedin APIs Widget Section starts here--> 



<div class="social_APIs_widgets">

<h2>YOUR <span>LinkedIN Feedback</span></h2>

<div class="APIs_contents">

<p>You are currently not connected to Facebook.</p>

</div>

<a href="#" class="connect_with_linkedin_btn"></a></td>



</div>

<!--Linkedin APIs Widget Section ends here--> 
