%span.span-24.last.title
  %h2= title "Forgot your password?"
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  %fieldset
    = devise_error_messages!
    %div.span-22.last
      = f.label :email, :class => "title span-9 column"
      = f.email_field :email, :class => "text column"
    %div.span-22.last
      %p.span-5.prepend-6.column
        %button.jquery-button.button-length-400
          Send me reset password instructions
    %p
      %p.span-7.column
      %p.column
        = render :partial => "devise/shared/links"
