%span.span-24.last.title
  %span= title "Sign up"

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  - unless resource.errors.blank?
    %div.error= devise_error_messages!
  %div.span-22.last
    = f.label :email, :class => "title span-9 column"
    = f.email_field :email, :class => "text column"
  %div.span-22.last
    = f.label :name, :class => "title span-9 column"
    = f.text_field :name, :class => "text column"
  %div.span-22.last
    %p.span-5.prepend-10.column
      %button.jquery-button.button-length-200= t "sign_up"
  %p
    %p.span-7.column
    %p.column
      = render :partial => "devise/shared/links"

