<%= form.label :phone, "Phone No." %>
<%= form.text_field :phone,:class=>"input_fields" %><br />
<%= form.label :password, "Set your password" %>
<%= form.password_field :password ,:class=>"input_fields"%><br />
<br />
<%= form.label :password_confirmation %>
<%= form.password_field :password_confirmation ,:class=> "input_fields"%><br /><br /><br />
<%= form.submit "Activate",:class=>"blackInputBtn", :id=>"confirm_submit" %>
<div class="clear"></div>
