<!--home main contents wrapper starts here-->
<% content_for :top_js do %>
  <%= javascript_include_tag "home_page" %>
<% end %>
<% unless current_user.blank? %>
<%= current_user.email.to_s %>
<% end %>
<div id="layout_wrapper">

<div class="left_contents"> 

<!--Featured Section starts here-->



<div class="featured_section">

<h2>HOW <span>Share Me</span> WILL MAKE YOUR LIFE SIMPLER</h2>

<img src="images/abuot_share_me_thumb.jpg" alt="ABOUT SHARE ME" />

<img src="images/how_share_me_works_thumb.jpg" alt="HOW SHARE ME WORKS" />

<img src="images/how_share_me_helps_thumb.jpg" alt="HOW SHARE ME HELPS?" />

<a href="#" class="moreBtnWhite">more scenarios</a> </div>

<!--Featured Section ends here--> 



<!--Introductory Section starts here-->

<div class="intructory_section">

<div class="col_1">

<h2>About <span>Share Me</span></h2>

<p>Share Me allows you to accumalate all your basic, personal, professional and social information into a convenient, easily accessible, unique 4-digit code. That however does not mean you are letting the world access all your important information through a single code. This is where our intuitive security settings come to your help; letting you choose exactly who sees what, and when.</p>

<a href="#" class="moreBtnYellow">Full details</a> </div>

<div class="col_2">

<h2>HOW <span>Share Me</span> WORKS</h2>

<p>Share Me allows you to accumalate all your basic, personal, professional and social information into a convenient, easily accessible, unique 4-digit code. That however does not mean you are letting the world access all your important information through a single code. This is where our intuitive security settings come to your help; letting you choose exactly who sees what, and when.</p>

<a href="#" class="moreBtnYellow">Full details</a> </div>

<div class="col_3">

<h2>How <span>Share Me</span> Works</h2>

<p>Share Me allows you to accumalate all your basic, personal, professional and social information into a convenient, easily accessible, unique 4-digit code. That however does not mean you are letting the world access all your important information through a single code. This is where our intuitive security settings come to your help; letting you choose exactly who sees what, and when.</p>

<a href="#" class="moreBtnYellow">Full details</a> </div>

</div>



<!--Introductory Section ends here--> 



</div>

<!--Left contents section ends here--> 



<!--home page right sidebar section starts here-->

<div class="rightBar"> 

<% unless flash.blank? %>
<div id="home-page-notification" >
	<%= flash[:notice] %>
</div>

<% end %>
<!--Enter share me code section starts here-->



<div class="enter_share_code">

<h2>ENTER <span>SHARE ME</span> CODE</h2>

<form action="" method="get" id="shareCode">

<!--maxlength Limit i fixed for Inputs for 2 digits - Change it to suit your needs and check share_me_custom.js for limit numeric value-->



<input name="" type="text" maxlength="2" class="digits"/>

<input name="" type="text" maxlength="2"  class="digits"/>

<input name="" type="text" maxlength="2"  class="digits"/>

<input name="" type="text" maxlength="2"  class="digits"/>

<input name="" type="button"  class="yellowInputBtn" value="search"/>

</form>

</div>

<!--Enter share me code section end here--> 



<!--Get Share me code section starts here-->

<div class="get_share_code">

<h2> get your <span>SHARE ME</span> CODE</h2>
<%= form_tag authenticate_path, {:id=> "sign_up_form", :method => :post } do |uf| %>

<label>E-mail:</label>

<input id="user_e" name="user[email]" type="text" class="textField"/>

<label>Name:</label>

<input id="user_n" name="user[name]" type="text"  class="textField"/>

<input id="register-btn" type="button" class="blackInputBtn register" value="Register">

<% end %>
</div>
<input id="signup-btn" alt="#TB_inline?height=179&width=252&inlineId=signup-form" class="thickbox" type="button" value="show" style="visibility:hidden" />

<!--Get Share me code section ends here--> 



<!--Connect with section starts here-->



<ul class="connect_with_socials">

<p>Or connect with</p>

<%= form_tag authenticate_path, {:id=> "oauth_form", :method => :post } do |uf| %>
<%= hidden_field_tag "authentication_type","session" %>

<li>
<a class="social-fb tipsy" href="#" title="Facebook" onclick="social_connect('facebook');return false;"></a>

<%#= hidden_field_tag "oauth_provider", "facebook" %>
<input type="radio" value="facebook" name="oauth_provider" id="oauth_provider_facebook" style="display: none;">
</li>

<li><a class="social-twitt tipsy" href="#" title="Twitter" onclick="social_connect('twitter');return false;"></a>

<input type="radio" value="twitter" name="oauth_provider" id="oauth_provider_twitter" style="display: none;">
</li>

<li>
<a class="social-linkedin tipsy" href="#" title="LinkedIn" onclick="social_connect('linked_in');return false;"></a>
<input type="radio" value="linked_in" name="oauth_provider" id="oauth_provider_linked_in" style="display: none;">
</li>

<li><a class="social-myspace tipsy" href="#" title="Myspace" onclick="social_connect('myspace');return false;"></a>
<input type="radio" value="myspace" name="oauth_provider" id="oauth_provider_myspace" style="display: none;">
</li>

</ul>
<% end %>
<!--Connect with section ends here--> 


<!--Already Member section starts here-->



<div class="already_a_member">

<p>Already a Member ?</p>

<a href="/user_sessions/new?height=142&width=299&modal=true" class="blackInputBtn thickbox">Sign In</a>  



</div>

<!--Already Member section ends here--> 



</div>

<!--home page right sidebar section ends here--> 



</div>
<div id="signup-form" style="display:none;">
<div class="get_share_code" id="get-share-code">

<h2> get your <span>SHARE ME</span> CODE</h2>
<div id="error-signup"></div>
<br />
<%= form_for @user do |uf| %>

<label>E-mail:</label>
<%= uf.text_field :email, {:class=>"textField"}%>

<label>Name:</label>
<%= uf.text_field :name, {:class=>"textField"}%>

<input id="register-btn1" type="button" class="blackInputBtn register" value="Register">

<% end %>
</div>
</div>
