<!--home main contents wrapper starts here-->
<% content_for :top_js do %>
  <%= javascript_include_tag "home_page" %>
  <%= javascript_include_tag "jquery.carousel.min" %>
  <script type="text/javascript">
    $(document).ready(function() {
        var temp = $("#confirmation_token");
        if (temp.val())
        {
          $("#confirmation_popup").trigger("click");
          $('#TB_title').hide();
        }
        // or with options (there are only 2)
        $('.digits').keyup(function (event) {
          event.preventDefault();
          $(this).next('.digits').focus();
        });
        $("#notif_container").notify({
          speed: 500,
          expires: false
        });
        var icon = "";
        <% unless flash.blank? %>
          var title = "";
          var text = "";
          var icon = "";
          <% if !flash[:notice] .blank? %>
            title = "Warning!";
            text = "<%= flash[:notice].to_s %>";
            icon = "warning";
            <% if flash[:notice].include?("logged in") || flash[:notice].include?("Sign In") %>
              $('#sign-in-btn').trigger('click');
            <% end %>
          <% elsif !flash[:success].blank? %>
            title = "Success!";
            text = "<%= flash[:success].to_s %>";
            icon = "success";
          <% elsif !flash[:error].blank? %>
            title = "Error!";
            text = "<%= flash[:error].to_s %>";
            icon = "error";
          <% end %>
          $("#notif_container").notify("create", {
              title: title,
              text: text,
              icon: icon
             },
             {
              click: function(e,instance){
              instance.close();
             }
           });
          if(text == "You need to Sign In to perform this action.")
          {
            $('#sign-in-btn').trigger('click');
          }

        <% end %>
     });
  </script>
<% end %>
<div id="layout_wrapper">

<div class="left_contents"> 
<% unless @confirmation_token.blank? %>
<%= hidden_field_tag "confirmation_token",@confirmation_token %>
<% end %>
<!--Featured Section starts here-->



<div class="featured_section">

<h2>HOW <span>Share Me</span> WILL MAKE YOUR LIFE SIMPLER</h2>

<img src="/images/abuot_share_me_thumb.jpg" alt="ABOUT SHARE ME" />

<img src="/images/how_share_me_works_thumb.jpg" alt="HOW SHARE ME WORKS" />

<img src="/images/how_share_me_helps_thumb.jpg" alt="HOW SHARE ME HELPS?" />

<a href="#" class="moreBtnWhite">more scenarios</a> </div>

<!--Featured Section ends here--> 



<!--Introductory Section starts here-->

<div class="intructory_section">

<div class="col_1">

<h2>About <span>Share Me</span></h2>

<p>
Save, Share & Store your personal, professional and social information with a single
unique 4-digit code. Are you tired of incorrect email addresses and wrong phone
numbers? Just get their 4 digit ShareMe # ~ it is so much easier!
With ShareMe, only those you trust get access to your basic information. You choose
exactly who sees what, and when.
</p>

<a href="#" class="moreBtnYellow">Full details</a> </div>

<div class="col_2">

<h2><span>Picture</span> THIS</h2>

<p>
Say goodbye to Business Cards, email addresses and phone numbers…well almost!
Now you can share your basic information (like your email address) with a single 4 digit
number! Get & Give correct contact details all the time, every time!
Consolidate & update all your FaceBook, LinkedIn & Twitter feeds.
<br />
Language barriers? Trying to understand a foreign dialect? Their email address is
Gibberish? Simplify! Just get their 4 digit ShareMe & get instant access to their correct
contact details!
</p>

<a href="#" class="moreBtnYellow">Full details</a> </div>

<div class="col_3">

<h2>The <span>Business/Social</span> Scene</h2>

<p>
You are on the road, just about to close a sale when your cell phone call is dropped! You
lose the sale & the contact forever! Next time... Get their 4 digit ShareMe and never lose
a contact again!
<br />
Flirting in a bar ~ why waste precious time prying their email and phone #? Be cool &
get their ShareMe!
</p>

<a href="#" class="moreBtnYellow">Full details</a> </div>

</div>



<!--Introductory Section ends here--> 



</div>

<!--Left contents section ends here--> 



<!--home page right sidebar section starts here-->

<div class="rightBar"> 

<%# unless flash.blank? %>
<!--<div id="home-page-notification" >-->
	<%#= flash[:notice] %>
<!--</div>-->

<%# end %>
<!--Enter share me code section starts here-->



<div class="enter_share_code">

<%= render :partial => "layouts/shared/search_form_index" %>

</div>

<!--Enter share me code section end here--> 



<!--Get Share me code section starts here-->

<div class="get_share_code">

<h2> get your <span>SHARE ME</span> CODE</h2>
<%= form_tag registration_path(resource), {:id=> "signup_form", :method => :post } do |uf| %>
<%#= form_for(resource, :as => resource_name, :url => registration_path(resource)) do |f| %>
<label>E-mail:</label>

<input id="user_e" name="user[email]" type="text" class="textField"/>
<%#= f.email_field :email, :class=>"textField" %>

<label>Name:</label>

<input id="user_n" name="user[name]" type="text"  class="textField"/>
<%#= f.text_field :name, :class=>"textField" %>

<input id="register-btn" type="button" class="blackInputBtn register" value="Register">

<% end %>
</div>
<input id="signup-btn" alt="#TB_inline?height=179&width=293&inlineId=signup-form" class="thickbox" type="button" value="show" style="visibility:hidden" />

<!--Get Share me code section ends here--> 

<input id="confirmation_popup" alt="#TB_inline?height=200&width=472&inlineId=confirmation_div" class="thickbox" type="button" value="confirm" style="visibility:hidden;" />

<!--Connect with section starts here-->



<ul class="connect_with_socials">

<p>Or connect with</p>

<%#= form_tag authenticate_path, {:id=> "oauth_form", :method => :post } do |uf| %>
<%= hidden_field_tag "authentication_type","session" %>

<li>
<a class="social-fb tipsy" href="#" title="Facebook" onclick="social_connect('facebook');return false;"></a>

<%#= hidden_field_tag "oauth_provider", "facebook" %>
<input type="radio" value="facebook" name="oauth_provider" id="oauth_provider_facebook" style="display: none;">
</li>

<li><a class="social-twitt tipsy" href="#" title="Twitter" onclick="social_connect('twitter');return false;"></a>

<input type="radio" value="twitter" name="oauth_provider" id="oauth_provider_twitter" style="display: none;">
</li>

<li>
<a class="social-linkedin tipsy" href="#" title="LinkedIn" onclick="social_connect('linked_in');return false;"></a>
<input type="radio" value="linked_in" name="oauth_provider" id="oauth_provider_linked_in" style="display: none;">
</li>


</ul>
<%# end %>
<!--Connect with section ends here--> 


<!--Already Member section starts here-->



<div class="already_a_member">

<p>Already a Member ?</p>

<a id="sign-in-btn" href="/users/sign_in?height=142&width=299&modal=true" class="blackInputBtn thickbox">Sign In</a>  



</div>

<!--Already Member section ends here--> 



</div>

<!--home page right sidebar section ends here--> 



</div>

<div id="signup-form" style="display:none;">
  <div class="get_share_code" id="get-share-code">

    <h2> get your <span>SHARE ME</span> CODE</h2>
    <div id="error-signup"></div>
    <br />
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource)) do |f| %>
    <label>E-mail:</label>
    <!--<input id="user_e" name="user[email]" type="text" class="textField"/>-->
    <%= f.email_field :email, :class=>"textField" %>
    <label>Name:</label>
    <!--input id="user_n" name="user[name]" type="text"  class="textField"/>-->
    <%= f.text_field :name, :class=>"textField" %>
    <input id="register-btn1" type="button" class="blackInputBtn register" value="Register">
    <% end %>
  </div>
  <div style="padding-left:35px;">
    <ul class="connect_with_socials">
      <p>Or connect with</p>
      <%#= form_tag authenticate_path, {:id=> "oauth_form", :method => :post } do |uf| %>
      <%= hidden_field_tag "authentication_type","session" %>
      <li>
        <a class="social-fb tipsy" href="#" title="Facebook" onclick="social_connect('facebook');return false;"></a>
        <%#= hidden_field_tag "oauth_provider", "facebook" %>
        <input type="radio" value="facebook" name="oauth_provider" id="oauth_provider_facebook" style="display: none;">
      </li>
      <li>
        <a class="social-twitt tipsy" href="#" title="Twitter" onclick="social_connect('twitter');return false;"></a>
        <input type="radio" value="twitter" name="oauth_provider" id="oauth_provider_twitter" style="display: none;">
      </li>
      <li>
        <a class="social-linkedin tipsy" href="#" title="LinkedIn" onclick="social_connect('linked_in');return false;"></a>
        <input type="radio" value="linked_in" name="oauth_provider" id="oauth_provider_linked_in" style="display: none;">
      </li>
    </ul>
    <%# end %>
  </div>
</div>
<% unless @confirmation_token.blank? %>
  <div id="confirmation_div" class="get_share_code" style="display:none;">
    <%= render :partial=>"confirmations/main" %>
  </div>
<% end %>
