<!--hom/ main contents wrapper starts here-->
<% content_for :top_js do %>
  <%= javascript_include_tag "home_page" %>
  <%= javascript_include_tag "jquery.carousel.min" %>
  <%= javascript_include_tag "s3Slider" %>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#slider').s3Slider({
          timeOut: 5000
        });
      $('#connect_with_facebook').click(function() {
        var left = (screen.width/2)-(900/2);
        var top = (screen.height/2)-(500/2);
        var w = window.open(this.href, 'Link Your Facebook Account', config='top='+top+', left='+left+',height=500, width=900, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, directories=no, status=no');
        return false;
       });
      $('#connect_with_twitter').click(function() {
        var left = (screen.width/2)-(900/2);
        var top = (screen.height/2)-(500/2);
        var w = window.open(this.href, 'Link Your Twitter Account', config='top='+top+', left='+left+',height=500, width=900, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, directories=no, status=no');
        return false;
       });
      $('#connect_with_linked_in').click(function() {
        var left = (screen.width/2)-(900/2);
        var top = (screen.height/2)-(500/2);
        var w = window.open(this.href, 'Link Your Linked In Account', config='top='+top+', left='+left+',height=500, width=900, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, directories=no, status=no');
        return false;
       });
        // or with options (there are only 2)
        $('.digits').keyup(function (e) {
        	var k;
        	
		  	if (!e.charCode) 	k = String.fromCharCode(e.which);
		  	else 				k = String.fromCharCode(e.charCode);
		  							
			if( k == 'V' && e.ctrlKey)
			{
				if(this.id == 'form_field_1')
				{
					$('#form_field_4').val(this.value[3]);
					$('#form_field_3').val(this.value[2]);
					$('#form_field_2').val(this.value[1]);
					$('#form_field_1').val(this.value[0]);
				}
				
				$(this).next('.digits').focus();
			}
        });
        $("#notif_container").notify({
          speed: 500,
          expires: false
        });
        var icon = "";
        <% unless flash.blank? %>
          var title = "";
          var text = "";
          var icon = "";
          <% if !flash[:notice] .blank? %>
            title = "Warning!";
            text = "<%= flash[:notice].to_s %>";
            icon = "warning";
            <% if flash[:notice].include?("logged in") || flash[:notice].include?("Sign In") %>
              $('#sign-in-btn').trigger('click');
            <% end %>
          <% elsif !flash[:success].blank? %>
            title = "Success!";
            text = "<%= flash[:success].to_s %>";
            icon = "success";
          <% elsif !flash[:error].blank? %>
            title = "Error!";
            text = "<%= flash[:error].to_s %>";
            icon = "error";
          <% end %>
//            show_notification(title,text,icon);
/*          if(text == "You need to Sign In to perform this action.")
          {
            $('#sign-in-btn').trigger('click');
          }*/

        <% end %>
     });
var show_notification = function(title, text, icon){
  $("#notif_container").notify("create", {
      title: title,
      text: text,
      icon: icon
     },
     {
      click: function(e,instance){
      instance.close();
     }
   });
}
var show_no_confirmation = function() {
  hide_errors();
  $('#simple-signup').hide();
  $('#social-signup').hide();
  $('#no-activation-signup').show();
}
  </script>
<% end %>
<div id="layout_wrapper">

<div class="left_contents"> 
<% unless @confirmation_token.blank? %>
<%= hidden_field_tag "confirmation_token",@confirmation_token %>
<% end %>
<% unless @twitter_registration.blank? %>
<%= hidden_field_tag "twitter_registration",@confirmation_token %>
<% end %>
<%= @dd %>
<%= hidden_field_tag "dd" %>
<!--Featured Section starts here-->



<div class="featured_section">

  <h2>HOW <span>Share Me</span> WILL MAKE YOUR LIFE SIMPLER</h2>

  <div id="slider">
    <ul id="sliderContent">
      <li class="sliderImage">
        <a href=""><img src="/images/slider-img-01.png" alt="Slider Images" /></a>
        <span class="top"><strong>Title text 1</strong><br />Content text...</span>
      </li>
      <li class="sliderImage">
         <a href=""><img src="/images/slider-img-02.png" alt="Slider Images" /></a>
         <span class="top"><strong>Title text 1</strong><br />Content text...</span>
       </li>
        <div class="clear sliderImage"></div>
      </ul>
  </div>
</div>

<!--Featured Section ends here--> 



<!--Introductory Section starts here-->

<div class="intructory_section">
    <h2>Save, Share & Store</h2>
    <div class="service-option-block-lft">
      <img class="lft" alt="Save, Share and Store" src="/images/save-share-thumb.jpg">
      <div class="quotes-container"> 
         <h4>Tried of incorrect email addresses and <br />wrong phone numbers?</h4>
         <h5>JUST get their <br />4 digit SHAREME,</h5>
         <h3>It's so much easier!</h3>
      </div>
    </div>
</div>

<div class="intructory_section">
    <h2>get & give</h2>
    <div class="service-option-block-lft">
      <img class="lft" alt="Get And Give" src="/images/getgive-thumb.jpg">
      <div class="quotes-container"> 
         <h4>say good bye to business cards,<br /> email addresses... well almost</h4>
         <h5>all that information in their <br />4 digit SHAREME,</h5>
         <h3>get and give correct details!</h3>
      </div>
    </div>
</div>

<div class="intructory_section">
    <h2>update</h2>
    <div class="service-option-block-lft">
      <img class="rt" alt="Update" src="/images/update-thumb.jpg">
      <div class="quotes-container-rt"> 
         <h4>consolidate and update all your facebook,<br /> linkedin and twiter feeds.</h4>
         <h3>through your shareme profile <br />once you create an account!</h3>
      </div>
    </div>
</div>

<div class="intructory_section">
    <h2>Language Barriers</h2>
    <div class="service-option-block-lft">
      <img class="rt" alt="Language Barriers" src="/images/language-thumb.jpg">
      <div class="quotes-container-rt"> 
         <h4>trying to understand foreign accent?<br /> their email address sounds like gibberish?</h4>
         <h3>get access to their correct info <br />through a convenient <br />4 digit SHAREME!</h3>
      </div>
    </div>
</div>

<div class="intructory_section">
    <h2>Disconnected?</h2>
    <div class="service-option-block-lft">
      <img class="rt" alt="Disconnected" src="/images/disconnted-thumb.jpg">
      <div class="quotes-container-rt"> 
         <h4>cell phone call drops, before you could <br />write their details down! a lost sale!</h4>
         <h3>avoid costly mistakes, it's easier <br />to write a 4 digit code down!</h3>
      </div>
    </div>
</div>

<div class="intructory_section">
    <h2>Socializing?</h2>
    <div class="service-option-block-lft">
      <img class="rt" alt="Socialzing" src="/images/socializing-thumb.jpg">
      <div class="quotes-container-rt"> 
         <h4>loud club? hard to understand their <br />phone number?</h4>
         <h3>be cool and get their shareme</h3>
      </div>
    </div>
</div>

<div class="intructory_section">
    <h2>Filter Who Sees What</h2>
    <div class="service-option-block-lft">
      <img class="lft" alt="Filter Who Sees What" src="/images/whosee-thumb.jpg">
      <div class="quotes-container"> 
         <h4>5 security levels of information <br />you decide who sees what, and when!</h4>
         <h3>co-workers, clients, family<br /> you name it!</h3>
      </div>
    </div>
</div>


<!--Introductory Section ends here--> 



</div>

<!--Left contents section ends here--> 



<!--home page right sidebar section starts here-->

<div class="rightBar"> 

<%# unless flash.blank? %>
<!--<div id="home-page-notification" >-->
	<%#= flash[:notice] %>
<!--</div>-->

<%# end %>
<!--Enter share me code section starts here-->



<div class="enter_share_code">
<%= render :partial => "layouts/shared/search_form_index" %>

</div>

<!--Enter share me code section end here--> 



<!--Get Share me code section starts here-->

<div class="get_share_code" style="postion:relative;">

<h2> get your <span>SHARE ME</span> CODE</h2>
  <div id="simple-signup">
    <%= form_tag registration_path(resource), {:class => "theform", :id=> "signup_form", :method => :post } do |uf| %>
    <div style="padding:5px 10px;">
      <input placeholder ="Name" id="user_n" name="user[name]" type="text"  class="textField"/>
      <input placeholder="E-mail" id="user_e" name="user[email]" type="text" class="textField"/>
      <input placeholder="Password" id="user_p" name="user[password]" type="password"  class="textField"/>
      <input id="register-btn" type="button" class="blackInputBtn register" value="Register">
      <div class="loader" style="display:none; float: left; margin: 14px 0pt;"> <%= image_tag 'ajax-loader.gif' %></div>
    </div>
    <% end %>
    <ul class="connect_with_socials">
      <p>Or connect with</p>
      <li>
        <%= link_to "",user_omniauth_authorize_path(:facebook),:id=>"connect_with_facebook",:class=>"social-fb tipsy",:title=>"facebook" %>
      </li>
      <li>
        <%= link_to "",user_omniauth_authorize_path(:twitter),:id=>"connect_with_twitter",:class=>"social-twitt tipsy",:title=>"twitter" %>
      </li>
      <li>
        <%= link_to "",user_omniauth_authorize_path(:linked_in),:id=>"connect_with_linked_in",:class=>"social-linkedin tipsy",:title=>"linkedin" %>
      </li>
    </ul>
  </div>
  <div id="social-signup" style="display:none;">
    <%= form_tag '/users/update_user_for_password', :class => "theform" do %>
    <div style="padding:5px 10px;">
      <div id="socialdiv" style="border: 1px solid rgb(204, 204, 204); float: left; width: 233px; margin: 0pt 0pt 5px; background: url(&quot;../images/input_pattern_yellow.jpg&quot;) repeat scroll 0pt 0pt transparent;">
        <img class="social_image" src="" style="float: left; margin: 0pt 5px 0pt 0pt; padding: 3px;">
        <h3 class="social_name" style="font-size: 15px; display: block; line-height: 45px;"></h3>
      </div>
      <input placeholder="E-mail" id="s_user_e" name="user[email]" type="text" class="textField"/>
      <input placeholder="Password" id="user_p" name="user[password]" type="password"  class="textField"/>
      <input onclick="show_simple_form();" id="cancel-btn" type="button" class="blackInputBtn register" value="Cancel">
      <input id="social-register-btn" type="button" class="blackInputBtn register" value="Register">
      <div class="loader" style="display:none; float: left; margin: 14px 0pt;"> <%= image_tag 'ajax-loader.gif' %></div>
    </div>
    <% end %>
  </div>
  <div id="success-signup" style="display:none;">
    <p style="margin:10px;font-weight:bold;">
      Congratulations! The way you communicate just got upgraded.<br /> A simple 4 digit ShareMe is all you will ever need, check your email now.
    </p>
    <input onclick="goto_simple_form();" id="cancel-btn" type="button" class="blackInputBtn register" value="Back">
  </div>
  <div id="no-activation-signup" style="display:none;">
    <p style="margin:10px;font-weight:bold;">
      You have already registered, You need to confirm your account before proceeding.
    </p>
    <input onclick="goto_simple_form();" id="cancel-btn" type="button" class="blackInputBtn register" value="Back">
  </div>
</div>
<!--<input id="signup-btn" alt="#TB_inline?height=179&width=293&inlineId=signup-form" class="thickbox" type="button" value="show" style="visibility:hidden" />-->


<!--Already Member section starts here-->
<div class="already_a_member">
  <p>Already a Member ?</p>
  <a id="sign-in-btn" href="/users/sign_in?height=142&width=299&modal=true" class="blackInputBtn thickbox">Sign In</a>
</div>
<div class="already_a_member" style="padding-left: 45px; width: 200px;">
  <img src="/images/find-me.png" />
</div>

<!--Already Member section ends here--> 



</div>

<!--home page right sidebar section ends here--> 



</div>

<% unless @confirmation_token.blank? %>
  <div id="confirmation_div" class="get_share_code" style="display:none;">
    <%= render :partial=>"confirmations/main" %>
  </div>
<% end %>
<% unless @twitter_registration.blank? %>
  <div id="twitter_div" class="get_share_code" style="display:none;">
    <%= render :partial=>"registrations/twitter" %>
  </div>
<% end %>
