<% content_for :top_js do %>
  <script type="text/javascript">
    $(function () {
        $('.c_links').click(function () {
            var c_id = this.id;
            $.ajax({
              type: "GET",
              url: "/show_basic_profile",
              data: {id: this.id},
              success: function(data){
                $('#basic_profile_info').html(data);
                $('.selected_link').removeClass("selected_link");
                $('#'+c_id).addClass("selected_link");
                }
              });
            return false;
          });
      <% unless flash.blank? %>
        var title = "";
        var text = "";
        var icon = "";
        <% if !flash[:notice] .blank? %>
          title = "Warning!";
          text = "<%= flash[:notice].to_s %>";
          icon = "warning";
        <% elsif !flash[:success].blank? %>
          title = "Success!";
          text = "<%= flash[:success].to_s %>";
          icon = "success";
        <% elsif !flash[:error].blank? %>
          title = "Error!";
          text = "<%= flash[:error].to_s %>";
          icon = "error";
        <% end %>
        $("#notif_container").notify("create", {
            title: title,
            text: text,
            icon: icon
           },
           {
            click: function(e,instance){
            instance.close();
           }
         });
      <% end %>
    });
  </script>
<% end %>

<%# unless flash.blank?  %>
  <!--<div class="profile_featured_section">-->
      <%#= flash[:notice] || flash[:error] %>
<!--   </div>-->
<!--  <br />-->
<%# end %>
<div class="profile_featured_section_full darkBg">
  <h2>All Contacts</h2>
  <% if @contacts.size > 0 %>
  <div class="scolling">
    <% @contacts.each do |ct| %>
      <% if ct.id == @contact.id %>
        <% cl = "c_links selected_link" %>
      <% else %>
        <% cl = "c_links" %>
      <% end %>
      <%= link_to image_tag(ct.associated_user.profile.picture_file_name.nil? ? "/images/all_contacts_thumb.jpg" : ct.associated_user.profile.picture.url(:contact_list_thumb)) +ct.name,contact_path(ct),:class=>cl,:id=>ct.id %>
    <% end %>
  </div>
  <% else %>
    <div style="height: 25px; font-size: 20px; text-align: center; line-height: 25px;">Currently You Have No Contacts!!!</div>
  <% end %>
	<%= link_to "Sign Out","/logout",{:id=>"contact-signout",:class=>"moreBtnPlain"} %>
</div>
<div id="basic_profile_info">
  <% unless @contact.blank? %>
    <%= render :partial => "profile_view_index", :locals=>{:contact=>@contact} %>
  <% end %>
</div>
