%span.span-24.last.title
  %h2= title "My Account"
  = link_to "Edit", edit_dashboard_users_path, :class => "small sub"
  |
  = render "shared/user_menu"
%section.span-24.column.left-column
  %div.span-20
    %span ShareMe code:
    %em= current_user.code.upcase
  %div.span-20
    %span Full name:
    %em= current_user.full_name
  %div.span-20
    %span Email:
    %em= current_user.email
  %div.span-20
    %span Phone Number:
    %em= current_user.phone
  %div.span-20
    %span Company Name:
    %em= current_user.profile_company

  %div.span-20
    %span Adress:
    %em= current_user.address
  -# - [ :google, :facebook, :twitter, :skype, :linkedin ].each do |soc_account|
  -#   %div
  -#     %span
  -#       = link_to "Add #{soc_account.to_s.titleize} account:", ""
  -#       = current_user.profile.try(:"#{soc_account}_account")

%section.span-24.column.left-column
  %div.span-20
  %label
    Quick statistic

%div.reveal-modal{:id=>'fb_friends_invite'}
  %h2 'Invite Facebook friends?'
  %p Do you want to invite your Facebook friends?
  %input#invite_yes{:type=>'button', :value=>'Yes', :class=>'jquery-button sign-in-button'}
  %input#invite_no{:type=>'button', :value=>'No', :class=>'jquery-button sign-in-button'}
  %a.close-reveal-modal &#215;

%div.reveal-modal{:id=>'fb_credentials',:style=>"width=600px;"}
  = render :partial => "dashboard/import_contacts/facebook"
  %a.close-reveal-modal &#215;

%div.reveal-modal{:id=>'friends_list'}

%input{:type=>"hidden",:id=>"first_fb_signin",:value=>"#{current_user.first_signin_fb}"}

:javascript
  $(function(){
    var fb_invite = $('#first_fb_signin').val();
    if(fb_invite == "true")
    {
      $('#fb_friends_invite').reveal();
    }
    $("#invite_yes").click(function(){
      $('.close-reveal-modal').click();
      $('#fb_credentials').reveal();
    });
    $("#invite_no").click(function(){
      $('.close-reveal-modal').click();
    });
    $("#fb_btn").click(function(){
      params = $('#form_fb').serialize();
      $.ajax({
        type: 'POST',
        url: '/dashboard/friends/facebook',
        data: params,
        success: function(data) {
          $('.close-reveal-modal').click();
          $('#friends_list').html(data);
          $('#friends_list').reveal();
        }
      });
      return false;
    });
  });
